.ocularPatdownImage {
  display: block;
  width: 30%;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
