@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

body {
  margin: 0;
  font-family: "Mona Sans";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
