@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-LightItalic.woff2")
      format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-Bold.woff2") format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-MediumItalic.woff2")
      format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-Light.woff2") format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-RegularItalic.woff2")
      format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-RegularItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-Regular.woff2")
      format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-BoldItalic.woff2")
      format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-Black.woff2") format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("./fonts/untitled-sans-web/UntitledSans-BlackItalic.woff2")
      format("woff2"),
    url("./fonts/untitled-sans-web/UntitledSans-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Mona Sans";
  src: url("./fonts/mona-sans-web/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("./fonts/mona-sans-web/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
